In [1]:
import keras

Using TensorFlow backend.

In [2]:
import numpy as np
import pandas as pd

In [4]:
dataset=pd.read_csv("D:\DATA SCIENCE\DATA SETS\Churn_Modelling.csv")

In [5]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

DATA PRE-PROCESSING

In [7]:
dataset.isnull().any()

RowNumber          False
CustomerId         False
Surname            False
CreditScore        False
Geography          False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

In [8]:
#Assigning the x and y values to the data

x=dataset.iloc[:,3:13].values

y=dataset.iloc[:,13].values

In [9]:
x

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [10]:
#since some data is in the categorical format we have to assign the values to it
#label encoding to the Gender

from sklearn.preprocessing import LabelEncoder

In [11]:
lb=LabelEncoder()

In [12]:
x[:,2]=lb.fit_transform(x[:,2])

In [13]:
#since the countries are in 3 level categorical data apply one hot encoding

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [14]:
ct = ColumnTransformer(transformers=[('oh', OneHotEncoder(),[1])], remainder='passthrough') 

x=ct.fit_transform(x)

In [15]:
x

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [16]:
#splitting the data

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [17]:
x_train

array([[1.0, 0.0, 0.0, ..., 0, 0, 188484.52],
       [1.0, 0.0, 0.0, ..., 1, 1, 159344.43],
       [1.0, 0.0, 0.0, ..., 1, 1, 85733.33],
       ...,
       [1.0, 0.0, 0.0, ..., 1, 0, 199390.45],
       [0.0, 1.0, 0.0, ..., 1, 1, 26106.39],
       [1.0, 0.0, 0.0, ..., 0, 0, 92223.59]], dtype=object)

In [18]:
#scaling the data

from sklearn.preprocessing import MinMaxScaler
Sc=MinMaxScaler()
x_train=Sc.fit_transform(x_train)
x_test=Sc.transform(x_test)

**BUILDING THE NN MODEL**

In [19]:
from keras.models import Sequential

In [20]:
from keras.layers import Dense

Initializing the NN model

In [21]:
model=Sequential()

Add input layer

In [22]:
model.add(Dense(input_dim=x_train.shape[1],kernel_initializer="random_uniform",activation="relu",units=6))

Add hidden layer

In [23]:
model.add(Dense(kernel_initializer="random_uniform",activation="relu",units=6))

Add outout layer

In [24]:
model.add(Dense(kernel_initializer="random_uniform",activation="sigmoid",units=1))

**COMPILING THE MODEL**

In [25]:
model.compile(loss="binary_crossentropy",optimizer="adam",metrics=["accuracy"])

In [26]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 78
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 127
Trainable params: 127
Non-trainable params: 0
_________________________________________________________________

**TRAIN THE NN MODEL**

In [27]:
model.fit(x_train,y_train,epochs=50,batch_size=32)

Epoch 1/50
8000/8000 [==============================] - 1s 118us/step - loss: 0.5728 - accuracy: 0.7955
Epoch 2/50
8000/8000 [==============================] - 1s 66us/step - loss: 0.4869 - accuracy: 0.7971
Epoch 3/50
8000/8000 [==============================] - 1s 65us/step - loss: 0.4761 - accuracy: 0.7971
Epoch 4/50
8000/8000 [==============================] - 1s 73us/step - loss: 0.4678 - accuracy: 0.7971
Epoch 5/50
8000/8000 [==============================] - 1s 123us/step - loss: 0.4625 - accuracy: 0.7971
Epoch 6/50
8000/8000 [==============================] - 1s 120us/step - loss: 0.4578 - accuracy: 0.7971
Epoch 7/50
8000/8000 [==============================] - 1s 119us/step - loss: 0.4539 - accuracy: 0.7971
Epoch 8/50
8000/8000 [==============================] - 1s 128us/step - loss: 0.4503 - accuracy: 0.7971
Epoch 9/50
8000/8000 [==============================] - 1s 130us/step - loss: 0.4471 - accuracy: 0.7971
Epoch 10/50
8000/8000 [==============================] - 1s 129us/step - loss: 0.4441 - accuracy: 0.7971
Epoch 11/50
8000/8000 [==============================] - 1s 130us/step - loss: 0.4410 - accuracy: 0.7971
Epoch 12/50
8000/8000 [==============================] - 1s 136us/step - loss: 0.4383 - accuracy: 0.7971
Epoch 13/50
8000/8000 [==============================] - 1s 131us/step - loss: 0.4359 - accuracy: 0.8069
Epoch 14/50
8000/8000 [==============================] - 1s 133us/step - loss: 0.4339 - accuracy: 0.8114
Epoch 15/50
8000/8000 [==============================] - 1s 130us/step - loss: 0.4320 - accuracy: 0.8104
Epoch 16/50
8000/8000 [==============================] - 1s 151us/step - loss: 0.4304 - accuracy: 0.8129
Epoch 17/50
8000/8000 [==============================] - 1s 154us/step - loss: 0.4290 - accuracy: 0.8130
Epoch 18/50
8000/8000 [==============================] - 1s 152us/step - loss: 0.4276 - accuracy: 0.8145
Epoch 19/50
8000/8000 [==============================] - 1s 131us/step - loss: 0.4267 - accuracy: 0.8146
Epoch 20/50
8000/8000 [==============================] - 1s 130us/step - loss: 0.4254 - accuracy: 0.8155
Epoch 21/50
8000/8000 [==============================] - 1s 131us/step - loss: 0.4247 - accuracy: 0.8159
Epoch 22/50
8000/8000 [==============================] - 1s 133us/step - loss: 0.4240 - accuracy: 0.8165
Epoch 23/50
8000/8000 [==============================] - 1s 132us/step - loss: 0.4233 - accuracy: 0.8179
Epoch 24/50
8000/8000 [==============================] - 1s 147us/step - loss: 0.4228 - accuracy: 0.8200
Epoch 25/50
8000/8000 [==============================] - 1s 155us/step - loss: 0.4221 - accuracy: 0.8211
Epoch 26/50
8000/8000 [==============================] - 1s 130us/step - loss: 0.4215 - accuracy: 0.8216
Epoch 27/50
8000/8000 [==============================] - 1s 140us/step - loss: 0.4204 - accuracy: 0.8276
Epoch 28/50
8000/8000 [==============================] - 1s 146us/step - loss: 0.4195 - accuracy: 0.8265
Epoch 29/50
8000/8000 [==============================] - 1s 132us/step - loss: 0.4187 - accuracy: 0.8269
Epoch 30/50
8000/8000 [==============================] - 1s 148us/step - loss: 0.4180 - accuracy: 0.8275
Epoch 31/50
8000/8000 [==============================] - 1s 137us/step - loss: 0.4175 - accuracy: 0.8292
Epoch 32/50
8000/8000 [==============================] - 1s 151us/step - loss: 0.4168 - accuracy: 0.8295
Epoch 33/50
8000/8000 [==============================] - 1s 132us/step - loss: 0.4158 - accuracy: 0.8305
Epoch 34/50
8000/8000 [==============================] - 1s 131us/step - loss: 0.4151 - accuracy: 0.8311
Epoch 35/50
8000/8000 [==============================] - 1s 132us/step - loss: 0.4148 - accuracy: 0.8315
Epoch 36/50
8000/8000 [==============================] - 1s 130us/step - loss: 0.4143 - accuracy: 0.8335
Epoch 37/50
8000/8000 [==============================] - 1s 130us/step - loss: 0.4138 - accuracy: 0.8322
Epoch 38/50
8000/8000 [==============================] - 1s 130us/step - loss: 0.4130 - accuracy: 0.8319
Epoch 39/50
8000/8000 [==============================] - 1s 132us/step - loss: 0.4129 - accuracy: 0.8339
Epoch 40/50
8000/8000 [==============================] - 1s 129us/step - loss: 0.4119 - accuracy: 0.8340
Epoch 41/50
8000/8000 [==============================] - 1s 129us/step - loss: 0.4120 - accuracy: 0.8335
Epoch 42/50
8000/8000 [==============================] - 1s 132us/step - loss: 0.4117 - accuracy: 0.8347
Epoch 43/50
8000/8000 [==============================] - 1s 136us/step - loss: 0.4111 - accuracy: 0.8349
Epoch 44/50
8000/8000 [==============================] - 1s 130us/step - loss: 0.4106 - accuracy: 0.8335
Epoch 45/50
8000/8000 [==============================] - 1s 152us/step - loss: 0.4104 - accuracy: 0.8341
Epoch 46/50
8000/8000 [==============================] - 1s 155us/step - loss: 0.4100 - accuracy: 0.8338
Epoch 47/50
8000/8000 [==============================] - 1s 154us/step - loss: 0.4106 - accuracy: 0.8346
Epoch 48/50
8000/8000 [==============================] - 1s 131us/step - loss: 0.4096 - accuracy: 0.8338
Epoch 49/50
8000/8000 [==============================] - 1s 131us/step - loss: 0.4093 - accuracy: 0.8363
Epoch 50/50
8000/8000 [==============================] - 1s 132us/step - loss: 0.4091 - accuracy: 0.8361

In [29]:
#prediction

y_pred=model.predict(x_test)
y_pred=y_pred>0.5

In [30]:
#Accuracy score
from sklearn.metrics import accuracy_score
print("Testing Accuracy Score:",accuracy_score(y_test,y_pred)*100,"%")

Testing Accuracy Score: 82.65 %

In [31]:
model.save("bankmodel.h5")

In [34]:
 import joblib

In [35]:
joblib.dump(Sc,"bank_scalar.save")

['bank_scalar.save']